:root {
  --text-lg: 2rem;
  --text-sm: 1rem;
  --black: #000;
  --white: #fff;
  --blue-700: hsl(217, 19%, 38%);
  --blue-800: hsl(217, 19%, 24%);
  --blue-900: hsl(218, 23%, 16%);
  --green-100: hsl(193, 38%, 86%);
  --green-200: hsl(150, 100%, 66%);
}

html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background-color: var(--blue-900);
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
}

.advice-container {
  background-color: var(--blue-800);
  border-radius: 1.5rem;
  padding: 3rem;
  position: relative;
}

.advice-timer-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  aspect-ratio: 1;
  background: conic-gradient(var(--green-200) var(--percentage), transparent 0);
  border-radius: 50%;
  animation: timer 10s infinite linear;
  display: none;
}

.advice-timer-container.active {
  display: block;
}

.advice-copy-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.advice-title {
  font-size: var(--text-sm);
  color: var(--green-200);
  text-transform: uppercase;
  letter-spacing: 0.33rem;
  margin: 0;
  text-align: center;
}

.advice-text {
  font-size: var(--text-lg);
  color: var(--white);
  margin: 0;
  text-align: center;
  letter-spacing: 0.1rem;
}

.advice-divider-wrapper {
  height: 0.1rem;
  background: var(--blue-700);
  margin: 3rem 0;
  position: relative;
}

.vertical-bars-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--blue-800);
  width: 5.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  padding: 1.85rem 1.5rem;
}

.vertical-bar {
  background: var(--white);
  width: 0.6rem;
  height: 100%;
  border-radius: 1rem;
}

.advice-button-container {
  position: absolute;
  left: 50%;
  bottom: -3.125rem;
  transform: translateX(-50%);
  width: 6.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--green-200);
  box-shadow: none;
}

.advice-generator-button {
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.advice-generator-vector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@property --percentage {
  initial-value: 0%;
  inherits: false;
  syntax: "<percentage>";
}

@keyframes timer {
  to {
    --percentage: 100%;
  }
}

@media (min-width: 64em) {
  :root {
    --text-lg: 2.8rem;
    --text-sm: 1.25rem;
  }

  .main-wrapper {
    max-width: 70rem;
    margin: 0 auto;
  }

  .advice-container {
    padding: 5rem;
  }

  .advice-button-container {
    transition: box-shadow 0.2s ease;
  }

  .advice-button-container:hover {
    box-shadow: 0 0 3rem var(--green-200);
  }
}
